/* add css module styles here (optional) */

.mainContainer * {
  margin: 0;
  padding: 0;
}

.mainContainer {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.calendar {
  position: absolute;
  background-color: red;
}